.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    align-items: flex-start;
    gap: 0.2rem;
}

h2 {
    margin-bottom: -0.5rem;
}

.role__description {
    display: flex;
    align-items: center;
    gap: 0 1rem;
    flex-wrap: wrap;
}

.role {
    font-size: 1.4rem;
    font-weight: 500;
}

.dot {
    width: 2px;
    height: 2px;
    margin: 0 -0.5rem;
    background-color: var(--textColor);
    border-radius: 100%;
}

.years {
    margin-top: 0.1rem;
    font-size: 1.2rem;
    font-style: italic;
}
