.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 -0.03em 0.5em rgba(0, 0, 0, 0.3);
    box-shadow: 0 -0.03em 0.5em rgba(0, 0, 0, 0.3);
}

.footer__container {
    margin-left: auto;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.footer__container * {
    width: 100%;
}

.footer__container .author__block,
p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    text-align: end;
    justify-content: flex-end;
}

.footer .copyright {
    font-size: 0.8rem;
    text-align: center;
}

.footer__container .footer__logo__image {
    width: 48px;
    height: 48px;
    content: var(--logo);
}

@media (max-width: 768px) {
    .empty {
        display: none;
    }

    .footer .copyright {
        text-align: start;
    }
}

@media (max-width: 400px) {
    .footer__container {
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 0.5rem;
       height: 100px;
    }

    .footer .copyright {
        text-align: center;
    }

    .footer__container .author__block {
        justify-content: center;
    }

    p {
        width: auto !important;
        justify-content: center;
        text-align: center;
    }
}