.block__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 4rem;
    z-index: 2;
    background: var(--backgroundColor);
    flex: 1;
}


.container {
	align-items: center;
	/* background-image: linear-gradient(to bottom right, var(--darkBlue), var(--darkBlue2)); */
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	text-align: center;
    margin: 0;
	overflow: hidden;
	position: relative;
}

.container h1 {
	font-size: 10em;
	margin: 0 0 0.5em;
	line-height: 10px;
	z-index: 200;
}

.container p {
	font-size: 1.2em;
	line-height: 26px;
	z-index: 200;
}

.container small {
    margin-top: 1rem;
	opacity: 1;
    font-weight: 600;
}

a {
	color: var(--primary);
    font-weight: 600;
    text-decoration: none;
}
