.education {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
}

.education * {
    color: var(--textColor);
}

.education__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding-bottom: 2.5rem;
}

.education__title {
    min-width: 180px;
    text-align: right;
    text-decoration: underline;
    text-decoration-color: var(--primary);
    margin-top: 0.3rem;
}

.education__container .education__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    align-items: flex-start;
    gap: 1rem;
}

.separator {
    margin: 0.3rem 0;
    height: 1px;
    background-color: rgba(121, 121, 121, 0.541);
    width: 100%;
}

p {
    text-align: justify;
}
@media (max-width: 900px) {
    .education__container {
        gap: 1rem;
    }

    .education__title {
        min-width: 120px;
    }
}

@media (max-width: 400px) {
    .education__title {
        text-align: left;
    }
    .education__container {
        flex-direction: column;
    }
}