.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    align-items: flex-start;
    gap: 0.2rem;
    color: var(--lightTextColor);

}

.link {
    text-decoration: none;
}

.link:hover h2 {
    color: var(--primary);
    text-shadow: var(--shadow);
}

h2 {
    color: var(--lightTextColor);
}

.description {
    color: var(--lightTextColor);
}

.stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.6rem;
    margin-bottom: 0.5rem;
}
