.about {
    width: 100%;
    padding: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--darkBackgroundColor);
}

.about * {
    color: var(--lightTextColor);
}

.about__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.about__container .about__title {
    text-align: left;
}

.about__container .about__title h5 {
    margin-top: -0.5rem;
}

.about__container .about__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    align-items: flex-start;
    gap: 1rem;
}

.separator {
    margin: 1rem 0;
    height: 1px;
    background-color: var(--lightTextColor);
    width: 100%;
}

.about__image {
    background: var(--about) no-repeat center;
    background-size: cover;
    /* transform: scale(-1, 1); */
    order: 0;
    justify-self: center;
    min-width: 200px;
    height: 200px;
    border-radius: 250px;
    border: 7px solid var(--lightTextColor);
    box-shadow: var(--themeShadow);
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

p {
    text-align: justify;
}

.contact__wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.contact__info {
    text-decoration: none;
}

.contact__info:hover {
    color: var(--primary);
    text-shadow: var(--shadow);
}

.button {
    width: 146px;
    margin-top: 1rem;
    background-color: var(--primary);
    color: var(--backgroundColor);
}

@media (max-width: 800px) {
    .stack {
        height: 4rem;
    }
    .about__image {
        width: 120px;
        height: 120px;
        min-width: 120px;
    }

}

@media (max-width: 500px) {
    .about__image {
        width: 150px;
        height: 150px;
        min-width: 150px;
    }
    .about__container {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 360px) {
    .about__info {
        max-width: calc(252px + 6rem);
        align-items: center;
    }

    .about__info .about__skills {
        justify-content: center;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(32px, 32px));
    }

    .skill {
        width: 36px;
        height: 36px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .about__image {
        width: 260px;
        height: 260px;
        min-width: 260px;
    }
}