* {
    transition: all ease-in-out 0.2s;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--backgroundColor);
}

.header__container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header__container .header__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.header__container .header__logo__image {
    width: 92px;
    height: 92px;
    content: var(--logo);
}

.header__container .header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
}

.header__container .header__navigation li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

a, h4 {
    user-select: none;
    text-decoration: none;
}



a:hover,
a:hover h4 {
    cursor: pointer;
    color: var(--primary);
    text-shadow: var(--shadow);
}

@media (max-width: 892px) {

    .header__container .header__logo__image {
        width: 72px;
        height: 72px;
    }

    .header {
        height: 80px;
    }

    .header__container .header__navigation {
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    li {
        display: none;
    }
}

@media (max-width: 400px) {
    .header__container .header__logo__image {
        width: 54px;
        height: 54px;
    }

    .header__container .header__logo {
        gap: 0rem;
    }
}

@media (max-width: 320px) {
    .header__container .header__logo__image {
        width: 36px;
        height: 36px;
    }
}

/* -=-=-=- Header shadow -=-=-=- */

.header::after {
    bottom: 0;
    -webkit-box-shadow: 0 0.03em 0.5em rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.03em 0.5em rgba(0, 0, 0, 0.3);
    content: '';
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: -1;
}