* {
    transition: all ease-in-out 0.2s;
}

.switcher__wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.theme__switcher,
.gradient__switcher {
    background-color: var(--backgroundColor);
    display: flex;
    padding: 0 3px;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 160px;
}

.gradient__switcher {
    width: 80px;
    display: flex;
    justify-content: center;
}

.theme__switcher .slider {
    display: block;
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 100%;
    top: 2px;
    transform: translatex(-110%);
    bottom: 3px;
    transition: 0.15s ease, transform 0.25s ease-out;
    background-color: var(--secondBackgroundColor);
}

.gradient__activity {
    display: block;
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 100%;
    top: 2px;
    bottom: 3px;
    background-color: var(--backgroundColor);
}

input {
    display: none;
}

input, label {z-index: 5;}

input[type="checkbox"]:checked~.gradient__activity {
    background-color: var(--secondBackgroundColor);
}

.light:hover {
    color: var(--primary);
    cursor: pointer;
}

.dark:hover {
    color: var(--primary);
    cursor: pointer;
}

.gradient__span:hover {
    color: var(--primary);
    cursor: pointer;
}

svg {
    scale: 1.2;
}

.fix {
    scale: 1.1 !important;
}

span {
    user-select: none;
}

.theme__switcher input:nth-of-type(1):checked~.slider {
    transform: translateX(0);
}

.theme__switcher input:nth-of-type(2):checked~.slider {
    transform: translateX(100%);
}

.theme__switcher input:nth-of-type(3):checked~.slider {
    transform: translateX(200%);
}

.theme__switcher label {
    position: relative;
    z-index: 2;
    width: calc(100% / 2);
}

label span {
    padding: 8px 0;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

label svg {
    display: inline-block;
    margin-right: 0.5rem;
    width: 20px;
}

@media (max-width: 872px) {
    span {
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label svg {
        margin-right: 0;
        scale: 1.4;
    }

    .theme__switcher {
        width: 120px;
    }

    .gradient__switcher,
    .slider {
        width: 60px !important;
    }
}

@media (max-width: 400px) {
    label svg {
        margin-right: 0;
        scale: 1.2;
    }

    .fix {
        scale: 1 !important;
    }

    .theme__switcher {
        width: 80px;
    }

    .gradient__switcher,
    .slider {
        width: 40px !important;
    }
}