* {
  transition: all ease-in-out 0.2s;
}

.home {
  width: 100%;
  height: calc(100vh - 100px);
  min-height: 600px;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home__container {
  width: 100%;
  height: 100%;
  margin-bottom: 70px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.home__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.home__data {
  width: 100%;
}

.home__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.greeting__logo {
  margin-top: 1rem;
  content: var(--logo);
  width: 92px;
  height: 92px;
}

.home__subtitle {
  position: relative;
  padding-left: 5.4rem;
  margin-bottom: 1.2rem;
}

.home__subtitle::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  left: 0;
  top: 50%;
  background-color: var(--textColor);
}

.home__description {
  max-width: 400px;
  margin-bottom: 1.2rem;
  text-align: left;
}

.text__link {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.links {
  width: 400px;
  margin-top: -0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: left;
}

.links * {
  width: 1.5rem;
  height: 1.5rem;
}

.links .tg {
  fill: #1d5aca;
}

.links .gt {
  fill: #FCA326;
}

.links .ml {
  fill: #6FDB42;
}

.home__img {
  background: var(--home) no-repeat center;
  background-size: cover;
  margin: 2rem 0;
  order: 1;
  justify-self: center;
  width: 400px;
  height: 400px;
  min-width: 400px;
  border: 7px solid var(--textColor);
  box-shadow: var(--themeShadow);
  border-radius: 30% 70% 66% 34%/30% 30% 70% 70%;
  -webkit-animation: fluid 14s ease-in-out;
  animation: fluid 14s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.scroll__wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll__wrapper p {
  font-weight: 500;
  font-size: 0.7rem;
  text-align: center;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}


/* -=-=-=- Adaptive setting -=-=-=- */


@media (max-width: 1130px) {
  h1 {
    font-size: 3.5rem;
    margin-bottom: -1rem;
  }

  .home__img {
    width: 320px;
    height: 320px;
    min-width: 320px;
  }
}

@media (max-width: 920px) {
  h1 {
    margin-bottom: 0;
  }

  .greeting__logo {
    width: 72px;
    height: 72px;
  }

  .home__img {
    width: 250px;
    height: 260px;
    min-width: 250px;
  }

  .home__subtitle::before {
    width: 50px;
  }

  .home__subtitle {
    padding-left: 4rem;
  }
}

@media (max-width: 768px) {
  .home__content {
    flex-direction: column-reverse;
  }

  .home__img {
    width: 400px;
    height: 400px;
    margin-top: 2rem;
  }

  .home__data {
    width: none;
  }
}

@media (max-width: 520px) {
  .home {
    margin-top: 40px;
    height: auto;
  }

  .home__img {
    width: 320px;
    height: 320px;
  }

  .greeting__logo {
    width: 48px;
    height: 48px;
    margin-top: 0.5rem;
  }

  .home__subtitle::before {
    width: 32px;
  }

  .home__subtitle {
    padding-left: 3rem;
  }
}

@media (max-width: 360px) {
  .home {
    height: auto;
  }
  .home__img {
    width: 260px;
    height: 260px;
  }

  .greeting__logo {
    width: 48px;
    height: 48px;
    margin-top: 0.5rem;
  }

  .home__subtitle::before {
    width: 32px;
  }

  .home__subtitle {
    padding-left: 3rem;
  }
}

/* -=-=-=- Form animation -=-=-=- */


@-webkit-keyframes fluid {

  0%,
  99% {
    border-radius: 30% 70% 66% 34%/30% 30% 70% 70%;
  }

  50% {
    border-radius: 58% 42% 42% 58%/50% 64% 36% 50%;
    /*transform: rotate(90deg);*/
  }
}

@keyframes fluid {

  0%,
  99% {
    border-radius: 30% 70% 66% 34%/30% 30% 70% 70%;
  }

  50% {
    border-radius: 58% 42% 42% 58%/50% 64% 36% 50%;
    /*transform: rotate(90deg);*/
  }
}