.project {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--darkBackgroundColor);
}

.project * {
    color: var(--lightTextColor);
}

.project__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.project__title {
    min-width: 180px;
    text-align: right;
    text-decoration: underline;
    text-decoration-color: var(--primary);
    margin-top: 0.3rem;
}

.project__container .project__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    align-items: flex-start;
    gap: 1rem;
}

.separator {
    margin: 0.3rem 0;
    height: 1px;
    background-color: rgba(121, 121, 121, 0.541);
    width: 100%;
}

p {
    text-align: justify;
}

.card p {
    color: var(--lightTextColor);
    display: block;
    padding: 0.2rem 0.4rem;
}

.lang {
    border: 2px solid #6FDB42;
}

.data {
    border: 2px solid #ffb65f;
}

.addition {
    border: 2px solid #1d5aca;
}

.architecture {
    border: 2px solid #fa2222;
}

@media (max-width: 900px) {
    .project__container {
        gap: 1rem;
    }
    
    .project__title {
        min-width: 120px;
    }
}

@media (max-width: 400px) {
    .project {
        width: 100%;
        padding-top: 2.5rem;
    }
    .project__title {
        text-align: left;
    }
    .project__container {
        flex-direction: column;
    }
}