@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* -=-=-=- Theme setting -=-=-=- */

.light__theme {
  --backgroundColor: #f7f7f7;
  --secondBackgroundColor: #ffffff;
  --darkBackgroundColor: #323232;
  --secondDarkBackgroundColor: #242424;
  --primary: #1d5aca;
  --textColor: #323232;
  --lightTextColor: #f7f7f7;
  --shadow: -4px 4px 16px rgba(29, 90, 202, 0.75);
  --themeShadow: -4px 4px 12px rgba(50, 50, 50, 0.75);
  --buttonColor: #f7f7f7;

  /* -=-=-=- icons && photos -=-=-=- */
  --logo: url("./assets/icons/BirdBlue.png");
  --home: url("./assets/photos/about.jpg");
  --about: url("./assets/photos/about-3.jpg");

  /* -=-=-=- skills -=-=-=- */
  --skill1: url("./assets/icons/skills/s1_light.png");
  --skill2: url("./assets/icons/skills/s2_light.png");
  --skill3: url("./assets/icons/skills/s3_light.png");
  --skill4: url("./assets/icons/skills/s4_light.png");
  --skill5: url("./assets/icons/skills/s5_light.png");
  --skill6: url("./assets/icons/skills/s6_light.png");
  --skill7: url("./assets/icons/skills/s7_light.png");
  --skill8: url("./assets/icons/skills/s8_light.png");
  --skill9: url("./assets/icons/skills/s9_light.png");
  --skill10: url("./assets/icons/skills/s10_light.png");
  --skill11: url("./assets/icons/skills/s11_light.png");
  --skill12: url("./assets/icons/skills/s12_light.png");
  --skill13: url("./assets/icons/skills/s13_light.png");
  --skill14: url("./assets/icons/skills/s14_light.png");
  --skill15: url("./assets/icons/skills/s15_light.png");

  /* -=-=-=- projects -=-=-=- */
  --cookit: url("./assets/icons/projects/cookit_light.png");
  --musicband: url("./assets/icons/projects/musicband_light.png");
  --tapit: url("./assets/icons/projects/tapit_light.png");
  --notary: url("./assets/icons/projects/notary_light.png");
  --noteit: url("./assets/icons/projects/noteit_light.png");
}

.dark__theme {
  --backgroundColor: #323232;
  --secondBackgroundColor: #383838;
  --darkBackgroundColor: #f7f7f7;
  --secondDarkBackgroundColor: #ffffff;
  --primary: #6FDB42;
  --textColor: #f7f7f7;
  --lightTextColor: #323232;
  --shadow: -4px 4px 16px rgba(111, 219, 66, 0.75);
  --themeShadow: -2px 2px 10px rgba(247, 247, 247, 0.75);
  --buttonColor: #323232;

  /* -=-=-=- icons && photos -=-=-=- */
  --logo: url("./assets/icons/BirdBlue.png");
  --home: url("./assets/photos/about.jpg");
  --about: url("./assets/photos/about-3.jpg");

  /* -=-=-=- skills -=-=-=- */
  --skill1: url("./assets/icons/skills/s1_dark.png");
  --skill2: url("./assets/icons/skills/s2_dark.png");
  --skill3: url("./assets/icons/skills/s3_dark.png");
  --skill4: url("./assets/icons/skills/s4_dark.png");
  --skill5: url("./assets/icons/skills/s5_dark.png");
  --skill6: url("./assets/icons/skills/s6_dark.png");
  --skill7: url("./assets/icons/skills/s7_dark.png");
  --skill8: url("./assets/icons/skills/s8_dark.png");
  --skill9: url("./assets/icons/skills/s9_dark.png");
  --skill10: url("./assets/icons/skills/s10_dark.png");
  --skill11: url("./assets/icons/skills/s11_dark.png");
  --skill12: url("./assets/icons/skills/s12_dark.png");
  --skill13: url("./assets/icons/skills/s13_dark.png");
  --skill14: url("./assets/icons/skills/s14_dark.png");
  --skill15: url("./assets/icons/skills/s15_dark.png");

  /* -=-=-=- projects -=-=-=- */
  --cookit: url("./assets/icons/projects/cookit_dark.png");
  --musicband: url("./assets/icons/projects/musicband_dark.png");
  --tapit: url("./assets/icons/projects/tapit_dark.png");
  --notary: url("./assets/icons/projects/notary_dark.png");
  --noteit: url("./assets/icons/projects/noteit_dark.png");
}


/* -=-=-=- Page setting -=-=-=- */


html,
body {
  min-height: 100%;
  overflow-x: hidden;
  background: var(--backgroundColor);
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

/*:not(.p-toast-message, .p-toast-message-enter-done, .p-toast-message-enter-active, .p-toast-message-exit-active) */
*:not(span) {
  color: var(--textColor);
  /* transition: all ease-in-out 0.2s; */
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--backgroundColor);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
}

.about,
.portfolio,
.contact {
  min-height: auto !important;
}

/* -=-=-=- Headers setting -=-=-=- */


h1 {
  font-size: 4.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.6rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
}


/* -=-=-=- Buttons setting -=-=-=- */


.button {
  display: inline-block;
  padding: 1rem 1.5rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  box-shadow: var(--themeShadow);
}

.button:hover {
  background-color: var(--primary);
  box-shadow: var(--shadow);
  --buttonColor: #f7f7f7;
}

.button__icon {
  margin-left: 0.5rem;
  width: 28px;
  height: 28px;
}


/* -=-=-=- Scroll setting -=-=-=- */


@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.anim {
  animation: ease-in 1s !important;
  /* animation-fill-mode: paused !important; */
  animation-name: spawnAnim !important;
}

@keyframes spawnAnim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* -=-=-=- Background setting -=-=-=- */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home__container {
  z-index: 10;
}

.circle {
  background: var(--primary);
  border-radius: 12px;
  box-shadow: var(--shadow);
  position: absolute;
  z-index: 0;
}

.circle.small {
  top: 200px;
  left: 150px;
  width: 100px;
  height: 100px;
}

.circle.medium {
  bottom: -70px;
  left: 0;
  width: 200px;
  height: 200px;
}

.circle.big {
  top: -100px;
  right: -50px;
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 620px) {
  .circle.small {
    top: 200px;
    left: 20px;
    width: 100px;
    height: 100px;
  }

  .container h1 {
    margin-top: 4rem;
    font-size: 8em;
  }

  .container p {
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  .container h1 {
    font-size: 8em;
  }

  .container p {
    font-size: 1em;
  }

}


/* -=-=-=- Adaptive setting -=-=-=- */


@media (max-width: 904px) {
  h1 {
    font-size: 3rem !important;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  * {
    font-size: 14px;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 2rem !important;
  }

  .about__container,
  .portfolio__container,
  .contact__container {
    margin-top: 0px;
  }
}

@media (max-width: 360px) {
  * {
    font-size: 14px;
  }

  h1 {
    font-size: 2.4rem !important;
  }
}

/* -=-=-=- Toast setting -=-=-=- */
.toast-block {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
  height: 100vh;
}

.p-toast {
  width: 250px !important;
  opacity: 1 !important;
}

.p-toast-message {
  width: 250px !important;
  padding: 1.5rem 2rem !important;
  background-color: var(--primary) !important;
  border-radius: 12px !important;
  color: #f7f7f7 !important;
  box-shadow: var(--shadow) !important;
  border: none !important;
  opacity: 1 !important;
  margin-top: 1rem;
}

.p-toast-message-icon {
  display: none !important;
}

.p-toast-message * {
  color: #f7f7f7 !important;
  transition: none !important;
}

.p-toast-summary {
  font-weight: 700 !important;
}

.p-toast .p-toast-message .p-toast-message-content {
  padding: 0 !important;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 !important;
}

.p-toast-message-error {
  background-color: #fa116a !important;
  box-shadow: -4px 4px 16px rgba(250, 17, 106, 0.75) !important;
}

.p-toast-message-exit-active {
  opacity: 0 !important;
  max-height: 0;
  margin-bottom: 0;
  overflow: hidden;
  transition: max-height .45s cubic-bezier(0, 1, 0, 1), opacity .3s, margin-bottom .3s;
}

.p-toast-message-exit-done {
  opacity: 0 !important;
  transition: none !important;
}

.p-toast-message-enter-active {
  transform: translateY(0);
  transition: transform .3s, opacity .3s !important;
}

.p-toast-message-enter-done {
  opacity: 1 !important;
  transition: none !important;
}